<!DOCTYPE html>
<html>

<style>
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans&display=swap');
</style>


  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="circle">
            <br />
            UNSLCTD
            <br />
            ADVCE
        </div>
      </div>
      <div class="col-4 slogan">
       Strangers giving strangers advice they didn't ask for. 
      </div>
      <div class="col-5 links">
        <%= link_to 'contribute', '#' %>
        <%= link_to 'about', '#' %>
    </header>

    <hr />

    <br class="clear" />

    <%= yield %>
  </body>
</html>
